{% if services|length == 0 %}


<div class="row justify-content-center mt-5">
    <div class="col-11 mt-3 mb-3 border border-3 border-black bgNoServices">
		<div class=" text-center rounded-1">
			
			<p class="fs-3">Il n'y a pas de Services disponibles pour le moment</p>
			
			<p class="fs-4"><B>Veuillez nous contacter pour plus d'informations</B></p>

		</div>
	</div>
</div>
	
{% else %}


<div class="col-12 col-md-10 col-lg-7 logoServices">
	
    <img src="{{ asset('images/logoservices.png' )}}" width="230px" height="110px">

</div>


{% for service in services %}


        <div class="col-11 col-md-10 col-lg-7 border border-black border-3 bgServices pt-2 mb-2 rounded-1">
            <p>
                <span class="fs-5 fw-bold float-start"> {{ service.name }} </span>
                
                
                <span class="m-0 float-end">
                    
                        <span class="fw-bold textColorPrice">{{ service.price }} €</span>
                
                </span>
            </p>
        </div>
    {% endfor %}
{% endif %}
