  .knowMore {
    text-decoration: none;
    text-decoration: underline;
    color: #002BC6;
    font-weight: 450;
  }
  
  .knowMore:hover {
    color: #FFFB32;
  }

  .submitContact {
    margin-left: 50px;
  }


  .contactColor {
    background-color: #0BACCC;
  }


  .hidden {
    display: none;
}


.btnCancel {
  color: #ff0000;
}

.btnCancel:hover {
  background-color: #ff0000;
}  
  